@use "../variables" as *;

main {
    position: relative;
}

.aboutFlex {
    display: flex;
    justify-content: flex-end;
    min-height: 100vh;
}

.aboutLeftSide {
    width: 50%;
    min-height: 100%;
    background-image: url(../media/about-me.JPG);
    background-size: cover;
    background-repeat: no-repeat;
}

section.about {
    background-color: rgba(255, 255, 255, 0.918);
    width: 50%;
    display: flex;
    justify-content: flex-start;
    overflow-x: clip;
    top: 0;
    transition: 2s;

}

.aboutRightSide{
    background-color: rgba(255, 255, 255, 0.918);
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 720px;
    height: 100%;
    margin: 0 7.5%;

    .aboutTitle {
        border-style: solid;
        border-width: 0 0 1px 0;
        border-color: $borderGrey;
        h3 {
            margin: 130px 0 30px 0;
        }
        p {
            margin-bottom: 18px;
        }
    }
}

.content1{
    transition: 0.3s ease-out;

    p.aboutText {
        margin: 30px 0;
        &:last-child {
            border-bottom: solid 1px $borderGrey;
            padding-bottom: 30px;
        }
    }

    ul {
        margin: 40px 0;
        li {
            margin: 18px 0;
            transition: 0.9s ease-out;
        }
    }
}

.content2 {
    position: absolute;
    width: 85%;
    top: 284px;
    transition: 0.3s ease-out;
    transform: translateX(140%);

    h4 {
        padding: 25px 0 0 0;
    }
    ul.skillIcons {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        &>li:not(.andMoreLi) {
            text-align: center;
            margin: 10px;
            width: 20%;
        }

        li.andMoreLi {
            width: 100%;
            margin-top: 20px;
            text-align: center;
        }
    }
}

ul.moreSkillsUl {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;

    li {
        margin: 2px 0;
        padding: 0 15px;
    }

    li:not(:last-child) {
        border-width: 0 1px 0 0;
        border-style: solid;
    }

}



