@use "../variables" as *;

.aboutFlex {
    display: flex;
    justify-content: flex-end;
}

section.about {
    top: 0;
    background-color: white;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    overflow-x: clip;
    transition: 2s;

}

.aboutLeftSide {
    width: 100%;
    height: 100%;
    background-image: url(../media/cat1.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    // transform: translateY(-850px);
}


.aboutRightSide{
    width: 100%;
    height: 100%;
    padding: 0 7.5%;
    display: flex;
    flex-direction: column;
    border: 2px solid red;

    .aboutTitle {
        // same height as .leftSticky
        height: 1000px;
        position: sticky;
        top: $aboutTop;
        border-style: solid;
        border-width: 0 0 1px 0;
        border-color: $borderGrey;
        h3 {
            margin: 130px 0 30px 0;
        }
        p {
            margin-bottom: 18px;
        }
    }
}

.content1{
    height: 700px;
    transition: 1s;

    p.aboutText {
        border-style: solid;
        border-width: 0 0 1px 0;
        border-color: $borderGrey;
        padding: 15px 0;
    }

    ul {
        margin: 40px 0;
        li {
            margin: 18px 0;
            transition: 0.9s ease-out;
        }
    }
}


.content2 {
    // height of .leftSticky - height of .aboutTitle
    height: 715px;
    transition: 1s;

    h4 {
        margin: 20px 0 40px 0;
    }
    ul.skillIcons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        li {
            color: rgb(180, 147, 75);
            margin: 10px;
            width: 22%;
            
            i {
                font-size: 5rem;
            }
        }

        li.andMoreLi {
            width: 100%;
        }
    }
}

ul.moreSkillsUl {
    display: flex;
    flex-wrap: nowrap;
    width: max-content;

    li {
        font-size: 1.5rem;
    }

    // white-space: nowrap;

    // will-change: transform;
    // animation: marquee 15s linear infinite;
}
// @keyframes marquee {
//     0% { transform: translateX(0); }
//     100% { transform: translateX(-100%); }
// }


