@use "../variables" as *;

div.introFlexRow {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

div.introFlexCol {
    display: flex;
    flex-direction: column-reverse;
}

header {
    height: 100vh;
    width: 75%;

    div.wrapper {
        position: relative;
    }
}

div.headerFlex {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.profilePic {
    background-image: url(../media/thumbnail_IMG_6200.jpg);
    background-position: center;
    background-size: cover;
    width: 230px;
    min-width: 230px;
    height: 230px;
    min-height: 230px;
    margin-right: 50px;
    border: 10px solid;
    border-color: rgba(255, 255, 255, 0.1);
    border-radius: 100%;
    animation: morph 8s ease-in-out infinite 1s;

    &:after {
        padding-bottom: 100%;
    }
}
 @keyframes morph {
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    50% {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }  
    100% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
 }

// mousey animation
.scroll-downs {
    position: absolute;
    bottom: -1px;
    left: 50%;
    margin: auto;
    width : 34px;
    height: 55px;
  }
.mousey {
    width: 3px;
    padding: 8px 15px;
    height: 30px;
    border: 1.5px solid $lightGrey;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
    animation-name: flash;
    animation-duration: 3s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
  }
  @keyframes flash {
    0% { opacity: 0; }
    40% { transform: translateY(0); opacity: 0.8; }
    80% { transform: translateY(18px); opacity: 0; }
    100% { opacity: 0; }
  }
.scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: $lightGrey;
    animation-name: scroll;
    animation-duration: 3s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
  }
  @keyframes scroll {
    0% { opacity: 0; }
    40% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(18px); opacity: 0;}
  }