@use '../variables' as *;

@media (max-width: 767px) {
// Nav Bar
    aside {
        height: auto;
    }
// header
    div.headerStickyView {
        height: fit-content;
    }

    div.navDiv {
        width: 0;
    }

    .scroll-downs {
        display: none;
    }

// About Section
    section.about {
        width: 100%;

    }

    .aboutRightSide {
        padding: 10px 0 40px 9;
    }
    
    .aboutTitle {
        height: fit-content;
        h3 {
            margin-top: 50px;
        }
    }
    .aboutStickyView {
        background-color: rgba(255, 255, 255, 0.918);
        height: fit-content;

        .aboutTitle,
        .contentSticky {
            position: static;
        }
    }
        
    .aboutFlex {
        flex-direction: column;
    }

    .content2 {
        position: static;
        width: 100%;
        padding-bottom: 50px;
        transform: translateX(0);
    }
        

// Projects Section
    section.projects {
        transform: translateY(0);
        height: fit-content;
        padding-bottom: 80px;
    }

    li.projectLi {
        margin: 50px 0;
    }

    ul.techList {
        margin-top: 5px;
    }

    ul.linkUl {
        justify-content: center;

        li {
            margin: 20px 0;
            a {
                margin: 0;
            }
        }

    }

// Contact Section
    section.contact {
        position: static;
    }

    .contactStickyView {
        height: fit-content;
    }

    .sayHi {
        display: none;
    }

    .getInTouchDiv {
        position: static;
    }

}

@media (max-width: 650px) {
// Header 
    div.headerFlex {
        flex-direction: column;

        div.profilePic {
            margin: 0;
        }

        .greetingFlex {
            text-align: center;
            margin-top: 20px;
        }
    }
}