@use "../variables" as *;

.projects {
    h3 {
        padding-top: 100px;
    }

    h5 {
        margin: 0;
    }
}

li.projectLi {
    min-height: 70vh;
    margin-bottom: 130px;

    .projectDemo {
        position: relative;
        width: fit-content;
        margin: 0 auto;

        figure {
            img {
                max-height: 70vh;
                margin: 0 auto;
            }
        }

        video {
            max-height: 70vh;
            width: 100%;
        }
    }
}

.projectWrapper {
    max-width: 1214px;
    margin: 0 auto;
}
.projectInfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid $borderGrey;
    
    h4 {
        margin: 0 20px 0 0;
    }
}

.linkFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;

    .linkUl {
        width: 100;
        display: flex;
    
        a {
            text-decoration: underline;
            height: fit-content;
            padding: 0 10px;
            transition: 0.5s;
    
            &:hover {
                scale: 1.2;
                opacity: 1;
            }
        }
    }
}


ul.techList {
    display: flex;
    flex-wrap: wrap;
    width: max-content;
    max-width: 100%;

    li:not(:last-child){
        padding-right: 20px;
    }
}

ul.featureList {
    li {
        list-style: disc;
        list-style-position: inside;
    }
}


