@use "../variables" as *;

form.contactForm {
    display: flex;
    flex-direction: column;
    
    input,
    textarea {
        background-color: $bgColor;
        border: 1px solid $borderGrey;
        margin-bottom: 30px;
        padding: 10px;
    }

    textarea {
        height: 130px;
        resize: none;
    }

    button {
        background-color: black;
        color: white;
        border: none;
        padding: 14px 30px 19px;
        font-size: 0.8rem;
        font-family: $muli;
        width: 195px;
        cursor: pointer;
    }
}