div.navDiv {
    top: 0;
    background-color: white;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    transition: 1s;
}

div.navWrap {
    width: 50%;
}

nav {
    h2 {
        opacity: 1;
        transition: 0.3s;
    }

    ul {
        margin: 50px 0;

        li {
            padding: 8px 0;
        }
    }
}

div.openMenu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    height: 100vh;

}

div.dim {
    background-color: rgba($color: #000000, $alpha: 0.6);
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
    transition: 0.8s ease-out;
}

.stopScrolling {
    height: 100%;
    overflow: hidden;
}

.homeLink,
.skillsLink {
    cursor: pointer;
}