@use '../variables' as *;

div.stickyView {
    position: relative;
    height: 2500px;
}

.sticky {
    position: sticky;
    top: 0;
}

.aboutStickyView {
    height: 5000px;
    width: 100%;
    border: 2px solid black;
    transform: translateY(-$aboutTop);

    .leftSticky {
        position: sticky;
        top: $aboutTop;
        height: 1000px;
        width: 50%;
        z-index: 1;
    }
}

