div.stickyView {
    position: relative;
    height: 2500px;
}

.sticky {
    position: sticky;
    top: 0;
}

// div.navDiv {
//     transition: 2s ease-out;
//     // max-width: 25%;
// }

nav h2 {
    transition: 2s;
}