@use '../variables' as *;

div.headerStickyView {
    position: relative;
    height: 2500px;
}

.headerSticky {
    position: sticky;
    top: 0;
}

.aboutStickyView {
    height: 6000px;
    width: 100%;
    border: 2px solid black;
    transform: translateY(-$aboutTop);

    .leftSticky {
        position: sticky;
        top: $aboutTop;
        height: 1000px;
        width: 50%;
        z-index: 1;
        transition: 2s;
    }
}

.contentSticky {
    position: sticky;
    top: calc($aboutTop + 285px);
}

.projectSticky {
    position: sticky;
    top: $aboutTop;
    transform: translateY(-$aboutTop);
}