@use '../variables' as *;

div.headerStickyView {
    position: relative;
    height: 2500px;
}

.headerSticky {
    position: sticky;
    top: 0;
}

.aboutStickyView {
    height: 2800px;
    width: 100%;
    // transform: translateY(-$aboutTop);

    .aboutSticky {
        position: sticky;
        top: 0;
    }

    // FIX THIS: not sticky anymore
    .leftSticky {
        // position: sticky;
        // top: $aboutTop;
        top: 0;
        height: 1000px;
        width: 50%;
        z-index: 1;
        transition: 2s;
    }
}

.projectStickyView {
    height: 5000px;
    .projectSticky {
        position: sticky;
        top: 0;
        height: 100vh;
    }
}

// .contentSticky {
//     position: sticky;
//     top: calc($aboutTop + 285px);
// }

// .projectSticky {
    // position: sticky;
    // top: $aboutTop;
    // height: 5000px;
    // transform: translateY(-$aboutTop);
// }

